*{
    margin:0;
}

header{
    height: 60px;
    background: #f9a713;
    display: flex;
    flex-direction: row;
    align-items: center;
}


h3{
    width: 25%;
}

nav{
    width: 65%;
    display: flex;
    justify-content: start;

}
ul{
    display: flex;
    flex-direction: row;
    width:43%;
    color: white;
    font-size: 15px;
}
li{
    width: 30%;
    display: flex;
    justify-content: end;

}
.indexSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #050A30;
}

.paiSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    display: flex;
}

.iSection01{
    font-size: 50px;
    width: 600px;
    text-align: center;
    color: white;
}
.iSection02{
    text-align: center;
    width: 1000px;
    color: white;
}
.iSection03{
    text-align: center;
    font-size: 15px;
    padding: 10px 15px;
    background-color: #f9a713;
    border: none ;
    border-radius: 10px;
    color: white;
}
b{
    color: #FA6000;
}



/*  pàg 02 */

.depositSection{

height: 94vh;
background-color: #050A30;
display: flex;
align-items: center;


}


.blo1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 48%;
    display: flex;
}
.text1{
    color: white;
    font-size: 35px;
    width: 280px;
}
.text2{
    width: 644px;
    color: white;
    font-size: 20px;
}
.text3{
    font-size: 12px;
    padding: 10px 15px;
    background-color: #f9a713;
    border: none ;
    border-radius: 10px;
    color: white;
}

.blo2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 48%;
    display: flex;
    
}

.miN{
    width: 100px;
}
.Black900{
    width: 100px;
}




/*pág LOGIN*/


.LoginImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 48%;
    color: green;

}

.pagLogin{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
h2{
    color: white;
    font-size: 30px;
}
.textEmail{
    color: white;
}

input.emailCampo{
    width: 300PX;
    border-radius: 15px;
    height: 32px;
}
.termos{
    color: white;
    font-size:10px;
}
button{
    background-color: #F9A713;
    width: 170px;
    height: 33px;
    border-radius:100px;
}
.formlogin{
    background-color: #cae8ff2c;
    height: 650px;
    width: 500px;
    padding: 41px;
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.separando{
    color:white ;
    position: relative;
    right: 20px;
    
}
.google{
    color: white;
    background-color:#cae8ff2c ;
    height: 50px;
    width: 300px;
}
.apple{
    color: white;
    background-color:#cae8ff2c ;
    height: 50px;
    width: 300px;
    
}
.simboloGoogle{
    position:relative;
    left: 58px;
    top: 7px;
    
}
.simboloApple{
    position: relative;
    left: 58px;
    top: 7px;
}
.divisoria{
    position:relative;
    right: 90px;
}
.google02{
    position: relative;
    right: 32px;
}
.apple02{
    position: relative;
    right: 32px;
}